---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
---

<div class="home">
  <h1>Salah Eddine Taouririt</h1>
  <ul>
    <li>Working as a software consultant (based in France).</li>
    <li>Occasionally write some <a href="/notes">notes</a> here.</li>
    <li>Can be found at [<a href="http://github.com/tarrsalah">github</a>,
      <a href="https://stackoverflow.com/users/1120221/salah-eddine-taouririt">stackoverflow</a>]</li>
  </ul>
</div>
